@import '../../styles/index';

$header-height: 500px;
$header-height-desktop: 700px;

.header {
    position: relative;
    text-align: center;
    margin: 0;
    background: rgba(9, 8, 14, 1);
    height: $header-height;
    max-height: $header-height;
    @include for-desktop {
        height: $header-height-desktop;
        max-height: $header-height-desktop;
    }
    overflow: hidden;
    svg {
        position: absolute;
        left: 0;
        bottom: 0px;
        z-index: $over-header-z;
        @include for-desktop {
            bottom: -50px;
        }
    }
    video {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6);
        -ms-transform: scale(1.6);
        transform: scale(1.6);
        @include for-desktop {
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
}

.stars {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header::after {
    content: '';
    height: $header-height;
    @include for-desktop {
        height: $header-height-desktop;
    }
    z-index: $header-z;
    background: rgb(113, 9, 52);
    background: linear-gradient(
        rgba(9, 8, 14, 0.5) 0%,
        rgb(42, 23, 59) 35%,
        rgb(70, 31, 80) 50%,
        rgba(97, 38, 84, 0.9) 60%,
        rgba(113, 9, 52, 0.6) 75%,
        rgba(187, 64, 107, 0.7) 100%
    );
    @include for-desktop {
        background: rgb(113, 9, 52);
        background: linear-gradient(
            rgb(9, 8, 14) 0%,
            rgba(42, 23, 59, 0.9) 35%,
            rgba(70, 31, 80, 0.8) 50%,
            rgba(97, 38, 84, 0.6) 60%,
            rgba(113, 9, 52, 0.6) 75%,
            rgba(185, 97, 128, 1) 100%
        );
    }
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

@keyframes glow {
    from {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #e60073;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        text-shadow: 0 0 3px #fff, 0 0 6px #ff4da6, 0 0 12px #ff4da6;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

.title {
    position: relative;
    top: 200px;
    @include header-base;
    color: $heaven;
    z-index: $over-header-z;
    margin: 0;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 22s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.arrow {
    position: relative;
    cursor: pointer;
    height: 20px;
    transition: transform 0.1s;
    width: 20px;
    border-left: 5px solid $grace;
    border-bottom: 5px solid $grace;
    border-radius: 5px;
    $transition-time: 0.15s;
    transform: rotate(45deg);
    top: 20px;
    left: 20px;
    @include for-desktop {
        height: 30px;
        width: 30px;
        border-left: 5px solid $grace;
        border-bottom: 5px solid $grace;
        border-radius: 5px;
        top: 30px;
        left: 20px;
    }
}

.small-header {
    height: 10vh;
    background-color: $abyss;
}
