@import '../../styles/index';

$header-height: 300px;
$header-height-desktop: 600px;

.header {
    position: relative;
    text-align: center;
    margin: 0;
    height: $header-height;
    max-height: $header-height;
    @include for-desktop {
        height: $header-height-desktop;
        max-height: $header-height-desktop;
    }
    overflow: hidden;
    svg {
        position: absolute;
        left: 0;
        bottom: 0px;
        z-index: $over-header-z;
    }
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.header::after {
    content: '';
    height: $header-height;
    @include for-desktop {
        height: $header-height-desktop;
    }
    z-index: $header-z;
    background: rgb(113, 9, 52);
    background: linear-gradient(
        rgba(25, 2, 31, 0.8) 0%,
        rgb(42, 3, 47) 49%,
        rgba(47, 3, 20, 1) 100%
    );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

@keyframes glow {
    from {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #e60073;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        text-shadow: 0 0 3px #fff, 0 0 6px #ff4da6, 0 0 12px #ff4da6;
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

.title {
    position: relative;
    top: 120px;
    @include header-base;
    color: white;
    z-index: $over-header-z;
    margin: 0;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

.arrow {
    position: relative;
    cursor: pointer;
    height: 30px;
    transition: transform 0.1s;
    width: 30px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 5px;
    $transition-time: 0.15s;
    transform: rotate(45deg);
}
