@import '../../styles/index';

.post-box {
    padding: 30px;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    color: $grace;
    header {
        cursor: pointer;
    }
    @include for-desktop {
        width: 50%;
        margin: auto;
    }
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.hidden {
    opacity: 0;
}

.postTitle {
    @include post-title;
    color: $sin;
    margin: 0;
    background-image: repeating-linear-gradient(
        45deg,
        currentColor 0px,
        currentColor 3px,
        transparent 0%,
        transparent 50%
    );
    background-size: 10px 10px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -5px -5px 0px $grace;
}

.post-section {
    margin: 10px;
    align-self: center;
    padding: 5px;
    cursor: pointer;
    p {
        @include post-content;
    }
}
