@import '../../styles/index';

.container {
    background-color: $abyss;
    padding: 50px 10%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}